
coreapi
coreschema

Django==3.0
django-allauth==0.41.0
django-cors-headers
django-environ
django-heroku
django-rest-auth
django-rest-registration
django-rest-swagger
djangorestframework
djangorestframework-filters

Gunicorn
Pillow
python-decouple
drf-yasg
psycopg2==2.8.6
